body{
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h3{
    font-style: italic;
    margin: 0;
}

#alert{
    background-color: #f36262;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 0 0 10px 10px;
}

.header-desc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.counter-table{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;
    /* max-width: 100%; */
    overflow: visible;
}

.heroes-class{
    background-color: whitesmoke;
    margin: 25px;
    border-radius: 25px;
}

.hero img{
    height: 120px;
    border-radius: 50%;
}

.counter-class img{
    height: 50px;
    border-radius: 25%;
}

.hero-face img{
    box-shadow: 0 0 5px black;
    border: 1px solid black;
}

.hero-face h2{
    margin: 10px 0;
}

.class-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-style: italic;
    background-color: #05a0fa;
    border-radius: 25px 25px 0 0;
    border-bottom: 2px solid black;
}

.class-name img{
    height: 120px;
}

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 30px;
}

hr{
    width: 90%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.counters{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.counter-class{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.counter-class-icon{
    filter: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(2446%) hue-rotate(185deg) brightness(97%) contrast(92%);
}

.heroes-dmg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dmg-column:first-child{
    border-right: 2px solid gainsboro;
}