body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#alert {
    background-color: #F4CA16;
    font-weight: bold;
    padding: 5px 50px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

h3 {
    font-style: italic;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;

    .title {
        position: relative;

        .superscript {
            text-align: right;
        }
    }
}

article.counter-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: clip
}

section.heroes-class {
    background-color: whitesmoke;
    margin: 25px;
    border-radius: 25px;
    width: min-content;
    min-width: 445px;

    .heroes-dmg {
        flex-grow: 1;
    }
}

.counter-class img {
    height: 50px;
    border-radius: 25%;
}

.hero-face {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 120px;
        width: 120px;
        border-radius: 50%;

        box-shadow: 0 0 5px black;
        border: 1px solid black;
        cursor: pointer;
    }

    img:hover {
        filter: brightness(50%);
        transition: filter 300ms ease-in-out;
    }

    h2 {
        margin: 10px 0;
        text-align: center;
    }
}

.role {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #05a0fa;
    border-radius: 25px 25px 0 0;
    position: sticky;
    top: 0;
    z-index: 10;

    img {
        height: 120px;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px 15px;
}

.hero:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.counters {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.counter-class {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.counter-class-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(2446%) hue-rotate(185deg) brightness(97%) contrast(92%);
}

.heroes-dmg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dmg-column:first-child {
    border-right: 2px solid gainsboro;
}

a {
    text-decoration: none;
    color: #05a0fa;

    &.repo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 10px 0 100px 0;
    }
}

img.repo {
    height: 24px;
}


/* ------ Stats ------ */

.stat-hero-icon {
    height: 80px;
    border-radius: 25px;
}

.stat-table {
    padding: 15px;
}

td {
    text-align: center;
    font-size: 25px;
}

.gold {
    color: goldenrod;
    text-decoration: underline;
    border: 1px solid goldenrod;
}

.silver {
    color: silver;
    border: 1px solid silver;
}

.copper {
    color: chocolate;
    border: 1px solid chocolate;
}

.gold, .silver, .copper {
    font-weight: bolder;
    border-radius: 5px;
}

nav.mobile {
    display: none;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 445px;
    height: 3em;
    border: 1px solid #959595;
    border-radius: 10px;
    background-color: #d6d6d6;

    label {
        width: 120px;
        text-align: center;
    }

    input {
        width: 100%;
        height: 110%;
        padding: 0 10px;
        outline: none;
        border: none;

        &:focus {
            outline: none;
        }
    }

    button {
        width: 120px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 1700px) {
    article.counter-table {
        flex-wrap: wrap;
    }

    .heroes-dmg {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .role h2 {
        display: none;
    }

    article {
        width: 100vw;
        margin: 0;
    }

    section.heroes-class {
        margin: 25px 0;
        padding: 0;
        width: 100%;
    }

    .role {
        border-radius: 0;

        img {
            height: 60px;
        }
    }

    nav.mobile {
        position: fixed;
        bottom: 0;
        height: 80px;
        background-color: #535353;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 20;
        column-gap: 15px;


        a {
            img {
                width: 64px;
            }
        }
    }

    .search {
        margin: 0 15px;
        overflow: hidden;
        width: auto;
        height: 3em;
        border-radius: 0;
    }
}
